<div class="text-layout">
    <h1>Basic pipes</h1>
    <p>
        Included pipes in Angular - Usually in the Common Module.
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card
            header="uppercase"
            [subheader]="lowercaseName"
        >
            {{ lowercaseName | uppercase }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card
            header="lowercase"
            [subheader]="uppercaseName"
        >
            {{ uppercaseName | lowercase }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card
            header="titlecase"
            [subheader]="fullName"
        >
            {{ fullName | titlecase }}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | Pipe</h1>
    <p>
        Pipe to show dates
    </p>
</div>
<div class="p-grid">
    <div class="p-col-6">
        <p-card>
            <ul>
                <li> Date </li>
                <li> Date | DatePipe </li>
                <li> Date | DatePipe: short </li>
                <li> Date | DatePipe: long </li>
                <li> Date | DatePipe: HH:mm, dd LLL yyyy </li>
            </ul>

            <hr>
            <ul>
                <li> date | date:'long':'GMT-6' </li>
                <li> date | date:'long':'GMT-4' </li>
                <li> date | date:'long':'':'en' </li>
                <li> date | date:'long':'':'fr' </li>
                <li> date | date:'long':'':'es-CO' </li>
            </ul>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card>
            <ul>
                <li> {{ date }} </li>
                <li> {{ date }} </li>
                <li> {{ date | date: 'short' }} </li>
                <li> {{ date | date: 'long' }} </li>
                <li> {{ date | date: 'HH:mm, dd LLLL yyyy' }} </li>
            </ul>

            <hr>
            <ul>
                <li> {{ date | date:'long':'GMT-6' }} </li>
                <li> {{ date | date:'long':'GMT-4' }} </li>
                <li> {{ date | date:'long':'':'en' }} </li>
                <li> {{ date | date:'long':'':'fr' }} </li>
                <li> {{ date | date:'long':'':'es-CO' }} </li>
            </ul>
        </p-card>
    </div>
</div>