<div class="text-layout">
    <h1>Not so common pipes</h1>
    <p>
        Included pipes in Angular - Usually in the Common Module.
    </p>
</div>

<div class="p-grid">
    <div class="p-col p-md-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>Hi {{ name }}. It is a pleasure to invite you to our event.
                {{ name }} is a {{ gender | i18nSelect: genderMap }}</p>
        </p-fieldset>
        <button
            pButton
            label="Change person"
            (click)="changePerson()"
            class="p-button-help"
        >
        </button>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            Currently, we have {{ customers.length | i18nPlural:customersMap }}
        </p-fieldset>
        <p-button (onClick)="deleteCustomer()">
            Delete customer
        </p-button>
    </div>
    <div class="p-col p-md-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <b>Original</b>
            <pre> {{ customers }} </pre>
            
            <b>slicie:0:2</b>
            <pre> {{ customers | slice: 0:2 }} </pre>

            <b>slicie:1:3</b>
            <pre> {{ customers | slice: 1:3 }} </pre>

            <b>slicie:3:3</b>
            <pre> {{ customers | slice:3:3 }} </pre>

            <b>slicie:3:4</b>
            <pre> {{ customers | slice:3:4 }} </pre>
        </p-fieldset>
    </div>
    <div class="p-col p-md-6">
        <p-fieldset legend="Json Pipe" [toggleable]="true">
            <pre>{{ heroes | json }}</pre>
        </p-fieldset>
    </div>
    <div class="p-col p-md-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
            <ul>
                <li *ngFor="let item of person | keyvalue">
                    <b>{{ item.key }}:</b>: {{ item.value }}
                </li>
            </ul>
        </p-fieldset>
    </div>
</div>